/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    
    body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(0, 195, 255, 0.992);
    }

  .container {
    display: flex;
    justify-content: space-between;
  }  
    
  .box {
    width: 500px;
    background: #b3f0ff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 10px;
  }

  .left-box {
    text-align: justify;
    width: 500px;
    background: #b3f0ff;
    border-radius: 12px;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
  }
  
  .right-box {
    text-align: justify;
    width: 500px;
    background: #b3f0ff;
    border-radius: 12px;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.5);
  }

  h1 {
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
  }

  h2 {
    margin-top: 21rem;
    margin-bottom: 5rem;
  }

  h2, p, ol {
    margin-bottom: 1rem;
  }

  h5 {
    text-align: center;
    font-size: 17px;
    margin-bottom: 0.5rem;
  }

  a {
    outline: none;
  }

  img {
    height: 5rem;
  }

  ol {
    padding-left: 1.8rem;
  }

  ol li {
    padding-left: 0.4rem;
  }

  ul li {
    list-style-type: none;
    text-align: center;
  }

    .content {
        padding: 0 30px;
        
    }
    
    .input {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    
    .input label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
    .input input {
        outline: none;
        border: none;
        border-bottom: 1px solid #4f7df9;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }
    
    .inputW {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
    }

    .inputW label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputW input {
        outline: none;
        border: none;
        border-bottom: 1px solid #4f7df9;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }

    .inputH {
        background: #fff;
        box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
        border-radius: 12px;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .inputH label {
        display: block;
        font-size: 18px;
        font-weight: 600;
        color: #000;
        margin-bottom: 20px;
    }
   .inputH input {
        outline: none;
        border: none;
        border-bottom: 1px solid #4f7df9;
        width: 50%;
        text-align: center;
        font-size: 28px;
        font-family: "Nunito", sans-serif;
    }
  
button.calculate {
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: rgb(97,138,254,1);
    font-size: 16px;
    border-radius: 7px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: all 0.5s;
    margin-bottom: 10px;
  }
  button.calculate:hover {
    background: #0044ff;
  }
  
.result {
    text-align: center;
    padding: 10px 20px;
  }
  .result p {
    font-size: 20px;
    color: #4f7df9;
    margin-bottom: 5px;
  }
  .result #result {
    font-size: 36px;
    font-weight: 900;
    color: #4f7df9;
    background-color: #ddf4fd;
    display: inline-block;
    padding: 10px 100px;
    border-radius: 55px;
    margin-bottom: 25px;
  }
  #comment {
    color: #4f7df9;
  }

.comment {
    display: none;
    border: dashed 1px;
    border-radius: 7px;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 15px
}

.footer-text {
    text-decoration: none;
    color: rgba(40, 40, 40, 0.8);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    transition: all 0.5;
}

.footer-text:hover {
    color: rgba(40, 40, 40, 1);
}

.gender {
    display: flex;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.gender .container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    margin-top: 7px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .gender .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .gender .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .gender .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .gender .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .gender .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.containerHW {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardbox {
  background: #fff;
  box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 10px 10px;
}

.download-app {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.app-icons {
  display: flex;
}

.app-icons a img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  transition: transform 0.3s ease;
}
  
button, .button {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  background-color: #2fb2ee;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
}

button:hover, button:active {
  background-color: #4c6ef5;
  border: 0.1rem solid #4c6ef5;
}

.button {
  text-decoration: none;
}

.button:hover {
  background-color: #4c6ef5;
}

.calc-btn {
  border: 0.1rem solid #3bc9db;
}

.reset-btn {
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 0.1rem solid #adb5bd;
  color: #000;
  text-decoration: none;
}

.reset-btn:hover {
  background: #868e96;
  border: 0.1rem solid #868e96;
  color: #fff;
}

.btn {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.btn-2 {
  margin-top: 2rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.close:hover {
  color: #d41111; 
}